# IDE
.idea
.iml

# Mac OS
.DS_Store

# Inputs
*.wav
*.pth

# Local .terraform directories
**/.terraform/*
plan.out

# Local code directories
**/build/*
**/builds/*
**/node_modules/*
static_site/voice_clone/.gitignore
static_site/voice_clone/README.md
static_site/voice_clone/src/assets/*

# .tfstate static_site
*.tfstate
*.tfstate.*

# Secrets
.env.local