# IDE
.idea
.iml

# Mac OS
.DS_Store

# Inputs
*.wav
*.pth

# Local .terraform directories
**/.terraform/*
plan.out

# Local code directories
**/build/*
**/builds/*
**/node_modules/*

# .tfstate static_site
*.tfstate
*.tfstate.*